body{
    height: 95vh;
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: flex-start;
}


div{
    height:100px;
    width:100px;
    background-color: grey;
    color: rgb(0,245,109);
}

.one{
    align-self:flex-end;
}
.two{
    align-self:flex-start;
}
.three{
    align-self:flex-end;
}
.four{
    align-self:flex-start
}